


.herodiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(209, 177, 134);
    
    width: 100%;
    height: 500px;

    border-bottom: solid 1px;
    border-color: black;
}



.heroimage{
    width:35em;
    height: 90%;
    
    right: 0em;
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
}